@media (max-width: 1200px) {
    .menu {
        margin: 0 10px;
        padding: 13px 30px;
    }
    .descr {
        font-size: 1.4rem;
    }
    .promo_descr {
        line-height: 30px;
    }
    .promo_descr-content {
        font-size: 1rem;
    }
    .education {
        margin-top: 40px;
    }
    .education_skills {
        flex-wrap: wrap;
        padding: 10px 50px;
    }
    .skill_item {
        width: 42%;
        margin: 20px;
    }
    .skill_descr{
        font-size: 0.8rem;
    }
    .sample_code {
        font-size: 0.8rem;
    }
    .code {
        margin-top: 40px;
    }
    .slide_title, .slide_descr {
        font-size: 1rem;
    }
    .footer_container {
        padding: 30px 0;
    }
    .contacts_title {
        font-size: 1rem;
    }
    .resours_title {
        font-size: 1rem;
    }
    .resurs_link {
        margin: 0;
        font-size: 1rem;
    }
}
@media (max-width: 991px) {
    .menu {
        height: 50px;
        margin: 0 5px;
        padding: 13px 40px;
    }
    .menu_item{
        font-size: 0.8rem;
    }
    .descr {
        margin: 5px 0;
        font-size: 1rem;
    }
    .promo_photo {
        margin: 25px auto;
    }
    .promo_title {
        font-size: 1.8rem;
    }
    .promo_content {
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .promo_img-container {
        width: 100%;
    }
    .promo_descr {
        width: 100%;
        margin-top: 20px;
    }
    .promo_descr-content {
        font-size: 1.5rem;
    }
    .education {
        margin-top: 20px;
    }
    .education_title {
        font-size: 1.5rem;
    }
    .subtitle {
        font-size: 1.7rem;
    }
    .education_skills {
        padding: 10px;
    }
    .education_descr {
        line-height: 30px;
    }
    .skill_item {
        width: 90%;
    }
    .skill_descr {
        font-size: 1rem;
        line-height: 25px;
    }
    .rs_promo {
        font-size: 1.2rem;
    }
    .code_title {
        font-size: 1.5rem;
    }
    .code_wrapper {
        margin-top: 20px;
    }
    .sample_code {
        font-size: 0.55rem;
    }
    .sample_code:hover {
        scale: 1.2;
    }
    .projects {
        margin-top: 40px;
    }
    .slide_title {
        font-size: 0.8rem;
    }
    .dot {
        width: 20px;
        height: 6px;
    }
    .project_btn {
        width: 90px;
        bottom: 25px;
        font-size: 0.8rem;
        text-shadow: none;
    }
    .project_btn:hover {
        text-shadow: none;
    }
    .slider_dots {
        bottom: -10px;
        margin-left: 10%;
    }
    .logo {
        width: 80%;
    }
    .pageup {
        width: 25px;
        right: 15px;
    }
}
@media (max-width: 767px) {
    .menu {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 50px;
        right: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        background: black;
        opacity: 0.7;
        transition: all .6s;
    }
    .menu_active {
        right: 0;
    }
    .menu_item {
        padding-right: 0;
        border: none;
        margin: 10px 0;
    }
    .menu_link {
        font-size: 1rem;
    }
    .hamburger {
        display: block;
        position: absolute;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        cursor: pointer;
    }
    .hamburger span {
        display: block;
        width: 100%;
        height: 3px;
        background: #fff;
        margin-bottom: 6px;
        transition: all .5s;
    }
    .hamburger_active span:nth-child(1) {
        transform: rotate(-45deg);
        margin-bottom: -3px;
    }
    .hamburger_active span:nth-child(2) {
        display: none;
    }
    .hamburger_active span:nth-child(3) {
        transform: rotate(45deg);
        margin-bottom: -3px;
    }
    .descr {
        font-size: 0.8rem;
    }
    .subtitle {
        padding: 10px;
    }
    .education_descr {
        line-height: 35px;
    }
    .skill_item {
        padding: 10px;
    }
    .sample_code {
        font-size: 0.38rem;
    }
    .sample_code:hover {
        scale: 1.35;
    }
    .slide_descr {
        font-size: 0.5rem;
    }
    .dot {
        width: 15px;
        height: 5px;
    }
    .slider_dots {
        bottom: -5px;
        margin-left: 9%;
    }
    .project_btn {
        width: 80px;
        bottom: 25px;
        font-size: 0.7rem;
        text-shadow: none;
    }
    .project_btn:hover {
        text-shadow: none;
    }
    .code_title {
        font-size: 1.2rem;
    }
    .footer_item:nth-child(3) {
        display: none;
    }
    .footer_item {
        width: 45vw;
    }
}
@media (max-width: 575px) {
    .descr span {
        font-size: 0.5rem;
    }
    .promo_title {
        font-size: 1.2rem;
    }
    .education_title, .code_title, .project_title, .language_title {
        font-size: 1rem;
    }
    .education_descr, .promo_descr{
        margin: 0 15px;
    }
    .code_wrapper {
        width: 80%;
    }
    .slide_title, .slide_descr {
        font-size: 0.5rem;
    }
    .slider_dots {
        bottom: -10px;
        margin-left: 7%;
    }
    .lang {
        margin: 40px auto;
    }
    .contacts_title {
        font-size: 0.8rem;
    }
    .contacts_icon {
        width: 30px;
    }
    .logo {
        width: 80px;
    }
}