@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Zen Dots', cursive;
}
body {
    background: url('./assets/img/matrix.gif');
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(2000px);
      transform: translateX(2000px);
      opacity: 0.7;

      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      opacity: 0.7;
    }
  
    100% {
      opacity: 1;
    }
}
@keyframes slide-right {
    0% {
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
        opacity: 0.7;
    }

    80% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}
@-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(-2000px);
      transform: translateX(-2000px);
      opacity: 0.7;
    }
  
    80% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      opacity: 0.7;
    }
  
    100% {
      opacity: 1;
    }
}
@keyframes slide-left {
    0% {
      -webkit-transform: translateX(-2000px);
      transform: translateX(-2000px);
      opacity: 0.7;
    }
  
    80% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      opacity: 0.7;
    }
  
    100% {
      opacity: 1;
    }
}
.slide-left {
    -webkit-animation-name: slide-left;
    animation-name: slide-left;
}
.slide-right {
    -webkit-animation-name: slide-right;
    animation-name: slide-right;
}
.header {
    position: relative;
    height: 50px;
}
.nav {
    position: fixed;
    width: 100vw;
    z-index: 2;
    background: linear-gradient(1deg, #3b960d, #1d077f);
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 70px;
    padding: 13px 70px;
    list-style: none;
}
.menu .menu_link {
    text-decoration: none;
    color: #ffffff;
}
.menu .menu_link:hover {
    color: #d13232;
}
.container {
    margin: 0 auto;
    width: 95vw;
    border-top: 1px solid transparent;
    box-shadow: 0px 0px 30px 20px #07361f;
    background-color: black;
    opacity: 0.8;
}
.title {
    text-transform: uppercase;
    color :#ffffff;
    text-align: center;
    text-shadow: #5dc8e5 1px 1px 0, #5dc8e5 2px 2px 0, 
                 #5dc8e5 3px 3px 0, #5dc8e5 4px 4px 0, 
                 #5dc8e5 5px 5px 0;
}
.descr {
    margin-top: 5px;
    font-family: 'Nerko One', cursive;
    text-transform: uppercase;
    color :#d1dcf5;
    font-size: 1.5rem;
}
.descr span {
    text-shadow: #eb5050  1px 1px 0, #eb5050  2px 2px 0, 
                 #eb5050  3px 3px 0, #eb5050  4px 4px 0, 
                 #eb5050  5px 5px 0;
}
.descr a:hover {
    color: #d13232;
}
.subtitle {
    text-align: center;
    font-size: 2rem;
    padding: 20px;
}
.promo {
    min-height: 90vh;
}
.promo_photo {
    display: block;
    margin: 40px auto;
    width: 15%;
    border-radius: 100%;
    box-shadow: 0px 0px 30px 20px #07361f;
}
.promo_title {  
    font-size: 2.5rem;
}
.promo_content{
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.promo_img-container {
    width: 80%;
}
.promo_img {
    width: 100%;
    box-shadow: 0px 0px 30px 20px #07361f;
}
.promo_descr {
    width: 40%;
    margin: 0px 60px;
    line-height: 35px;
}
.education {
    min-height: 85vh;
    margin-top: 80px;
}
.education_title {
    font-size: 2rem;
}
.education_descr {
    margin: 0 100px;
    text-align: center;
    line-height: 50px;
}
.education_skills {
    width: 100%;
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
}
.skill_item {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border: 1px solid green;
    box-shadow: 0px 0px 30px 20px #07361f;
}
.skill_item:hover {
    scale: 1.2;
}
.skill_descr {
    font-size: 0.8rem;
    line-height: 15px;
}
.code {
    margin-top: 80px;
    min-height: 55vh;
}
.code_wrapper {
    margin: 0 auto;
    margin-top: 60px;
    padding: 20px;
    width: 50%;
    min-height: 35vh;
    box-shadow: 0px 0px 30px 20px #07361f;
}
.sample_code {
    margin: 0 auto;
    width: 70%;
    font-size: 1rem;
    color:#ffffff;
}
.command {
    color: #b294bb;
}
.name {
    color: #de935f;
}
.answer {
    color: #89b6c5;
}
.slider_wrapper{
    width: 90%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 0px 30px 20px #07361f;
}
.project_slider {
    display: flex;
}
.btn {
    width: 3vw;
    border: 1px solid transparent;
    background: transparent;
}
.btn:hover img {
    scale: 1.3;
}
.next_btn { 
    position: absolute;
    top: 50%;
    right: 40px;
}
.prev_btn {
    position: absolute;
    top: 50%;
    left: 40px;
}
.slide_item {
    position: relative;
}
.slide_title {
    position: absolute;
    font-size: 1.5rem;
    bottom: 40px;
    left: 40px;
    margin: 0;
    text-shadow: #eb5050  1px 1px 0, #eb5050  2px 2px 0, 
                 #eb5050  3px 3px 0, #eb5050  4px 4px 0, 
                 #eb5050  5px 5px 0;
}
.project_btn {
    font-family: 'Nerko One', cursive;
    width: 10vw;
    text-align: center;
    position: absolute;
    font-size: 1.5rem;
    bottom: 40px;
    right: 40px;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    border-radius: 10px;
    background: linear-gradient(192deg, #3b960d, #1d077f);
    text-decoration: none;
    box-shadow: 0px 0px 30px 10px #03763d;
    text-shadow: #eb5050  1px 1px 0, #eb5050  2px 2px 0, 
                 #eb5050  3px 3px 0, #eb5050  4px 4px 0, 
                 #eb5050  5px 5px 0;
}
.project_btn:hover {
    color: #d13232;
    text-shadow: #5dc8e5 1px 1px 0, #5dc8e5 2px 2px 0, 
                 #5dc8e5 3px 3px 0, #5dc8e5 4px 4px 0, 
                 #5dc8e5 5px 5px 0;
}
.slider_dots{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
.dot {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 8px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    background-color: #d13232;
    background-clip: padding-box;
    transition: opacity .6s ease;
}
.dot_active {
    background-color: green;
    box-shadow: 0px 0px 30px 20px #07361f;
}